---
import Layout from "../../layouts/Layout.astro";
import HorariosManager from "../../components/Horarios/HorariosManager.jsx";
---

<Layout>
    <div class="px-8 py-6 w-full max-w-[1400px] mx-auto">
        <HorariosManager client:load />
    </div>
</Layout>
